$white: #ffffff;
$black: #000000;

$red: #f38379;
$red-light: #f2a59d;
$red-xlight: #fcedeb;
$red-dark: #d1685e;

$green: #63c7ae;
$green-light: #98d9c8;
$green-xlight: #eaf7f4;
$green-dark: #55ab95;

$blue: #62b1d9;
$blue-light: #95cbe5;
$blue-xlight: #dfeff7;
$blue-dark: #47a0cc;
$blue-xdark: #4192ba;

$yellow: #f7c96c;
$yellow-light: #ffdd99;
$yellow-xlight: #fffaf0;
$yellow-dark: #f2b53c;

$purple: #ad97d8;
$purple-light: #c6b7e5;
$purple-dark: #8874b2;

$gray: #bfbfbf;
$gray-light: #e5e5e5;
$gray-xlight: #fcfcfc;
$gray-dark: #b2b2b2;

$blue-gray: #7e888c;
$blue-gray-light: #97aab2;
$blue-gray-xlight: #dae2e6;
$blue-gray-xxlight: #f5f7f9;
$blue-gray-dark: #3e5159;

$background-gray: #f7fafc;
$border-gray: #e5ecf1;
$input-border-gray: #b8c5cc;

$colors:
        ("red" $red)
        ("red-light" $red-light)
        ("red-xlight" $red-xlight)
        ("red-dark" $red-dark)
        ("green" $green)
        ("green-light" $green-light)
        ("green-xlight" $green-xlight)
        ("green-dark" $green-dark)
        ("blue" $blue)
        ("blue-light" $blue-light)
        ("blue-xlight" $blue-xlight)
        ("blue-dark" $blue-dark)
        ("blue-xdark" $blue-xdark)
        ("yellow" $yellow)
        ("yellow-light" $yellow-light)
        ("yellow-xlight" $yellow-xlight)
        ("yellow-dark" $yellow-dark)
        ("purple" $purple)
        ("purple-light" $purple-light)
        ("purple-dark" $purple-dark)
        ("gray" $gray)
        ("gray-light" $gray-light)
        ("gray-xlight" $gray-xlight)
        ("gray-dark" $gray-dark)
        ("blue-gray" $blue-gray)
        ("blue-gray-light" $blue-gray-light)
        ("blue-gray-xlight" $blue-gray-xlight)
        ("blue-gray-xxlight" $blue-gray-xxlight)
        ("blue-gray-dark" $blue-gray-dark);