//Field normal size
$field-font-size: 16px;
$field-font-weight: 400;
$field-height: $large-line-height;
$field-padding: 6px;
$field-padding-top: $field-padding;
$field-padding-right: $field-padding;
$field-padding-bottom: $field-padding;
$field-padding-left: $field-padding;
$field-picker-width: 14px;

//Field small size
$small-field-font-size: $font-size;
$small-field-height: $line-height;
$small-field-padding: 3px;
$small-field-padding-top: 2px;
$small-field-padding-right: $small-field-padding;
$small-field-padding-bottom: $small-field-padding;
$small-field-padding-left: $small-field-padding;
$small-field-picker-width: 9px;